In [72]:
import pandas as pd

# Path to the Excel file
file_path = "/Users/devnikhil/Downloads/Final_May(1).xlsx"

# Load the Excel file into a DataFrame
df = pd.read_excel(file_path)

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 845 entries, 0 to 844
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice Date             845 non-null    object
 1   Customer Name            845 non-null    object
 2   Customer Category        845 non-null    object
 3   Item Name                845 non-null    object
 4   Project                  845 non-null    object
 5   Quantity                 679 non-null    float64
 6   Usage unit               625 non-null    object
 7   Line Item Location Name  845 non-null    object
 8   Item Price               447 non-null    float64
 9   Item Total               845 non-null    float64
dtypes: float64(3), object(7)
memory usage: 66.1+ KB

In [76]:
df.head()

,Invoice Date,Customer Name,Trade Type,Item Name,Project,Quantity,Usage unit,Line Item Location Name,Item Price,Item Total
0,2025-05-01 00:00:00,TRENT HYPERMARKET PVT LTD,MT,Dragon Fruit,Dragon Fruit,1390.0,Pcs,Hyderabad DC (Warehouse),35.0,48650.0
1,2025-05-01 00:00:00,TRENT HYPERMARKET PVT LTD,MT,Indian Blueberry,Blueberry,84.0,Punnet,Hyderabad DC (Warehouse),100.0,8400.0
2,2025-05-01 00:00:00,NUTTRIVILA F&V PRIVATE LIMITED,GT,Dragon Fruit 20 Pcs Box,Dragon Fruit,10.0,Box,Mumbai Vashi DC (Warehouse),700.0,7000.0
3,2025-05-01 00:00:00,Agro Empire,GT,Dragon Fruit 22 Pc Box,Dragon Fruit,70.0,Box,Mumbai Vashi DC (Warehouse),550.0,38500.0
4,2025-05-01 00:00:00,Laxman Fruit supplier,GT,Dragon Fruit 20 Pcs Box,Dragon Fruit,5.0,Box,Mumbai Vashi DC (Warehouse),520.0,2600.0

In [75]:
df.rename(columns={"Customer Category": "Trade Type"}, inplace=True)

In [77]:
df['Trade Type'] = df['Trade Type'].str.strip().str.lower()

unique_gt_mt_values = df['Trade Type'].unique()

# Print the unique values
print("Unique values in the 'MT/GT' column:")
for value in unique_gt_mt_values:
    print(value)

# Optionally, count the number of unique values
print(f"\nTotal number of unique values in the 'MT/GT' column: {len(unique_gt_mt_values)}")

Unique values in the 'MT/GT' column:
mt
gt
horecca

Total number of unique values in the 'MT/GT' column: 3

In [78]:
# Filter the DataFrame for rows where 'GT/MT' column has the value 'MT'
filtered_df = df[df['Trade Type'] == 'gt']

# Group by 'Customer Name' and sum the 'Item Total', then sort in descending order
customer_totals_GT = (
    filtered_df.groupby('Customer Name')['Item Total']
    .sum()
    .sort_values(ascending=False)
)

# Display the result
print("Customer Name GT wise Item Total (descending order):")
print(customer_totals_GT)

# Save to a CSV file if needed

Customer Name GT wise Item Total (descending order):
Customer Name
VASMI FARM FRESH PRIVATE LIMITED    3556880.00
Mr. Sadanand Nikam                  2866500.00
Farm Root Agro                      2040994.00
NUTTRIVILA F&V PRIVATE LIMITED       813975.00
Agro Empire                          615250.00
Ogistics Exports                     363700.00
ARB ENTERPRISES                      335550.00
LOCAL BUYER                          301950.12
Chandu Fruit                         299600.00
Radhey Fresh                         206500.00
G.H. Fruits                          178850.00
SK Fruit SRM                         176000.00
ELITE Supply Chain                   121700.00
RR Fruits                            112000.00
Vikas Gupta                          107500.00
GREAT GROCERS                         89300.00
VORTEX SPECIALITY FOODS LLP           75000.00
DSK NATURAL FRUIT                     64750.00
Mr. Vikas Gupta                       63000.00
Minnath Parkhe                        52500.00
Ashok Fruit HYD                       43000.00
Nilesh                                42000.00
SN Fruit Company                      24000.00
Praful                                21200.00
Sohail                                20950.00
Laxman Fruit supplier                 16600.00
Kartik  Gopalakrishnan                14460.00
Prabhu Hira                            2200.00
Vaseem                                 2200.00
AMOL                                   1000.00
Amol                                    700.00
Name: Item Total, dtype: float64

In [79]:
# Filter the DataFrame for rows where 'GT/MT' column has the value 'MT'
filtered_df1 = df[df['Trade Type'] == 'mt']

# Group by 'Customer Name' and sum the 'Item Total', then sort in descending order
customer_totals_MT = (
    filtered_df1.groupby('Customer Name')['Item Total']
    .sum()
    .sort_values(ascending=False)
)

# Display the result
print("Customer Name MT wise Item Total (descending order):")
print(customer_totals_MT)

# Save to a CSV file if needed

Customer Name MT wise Item Total (descending order):
Customer Name
Kiranakart Wholesale  Pvt Ltd_HYD-Fresh     3520795.0
TRENT HYPERMARKET PVT LTD                   1312222.0
CLOUDKART VENTURES PRIVATE LIMITED           511536.0
PJTJ TECHNOLOGIES PRIVATE LIMITED            430520.0
KPN FARM FRESH PRIVATE LIMITED               256047.0
CLOUDSTORE RETAIL PRIVATE LIMITED            130285.0
METRO CASH & CARRY INDIA PRIVATE LIMITED      54000.0
Moksh Enterprises Private Limited             14000.0
Name: Item Total, dtype: float64

In [80]:
# Date-wise GRN Amount total
date_wise_grn = df.groupby('Invoice Date')['Item Total'].sum().reset_index()
df['Line Item Location Name'] = df['Line Item Location Name'].str.lower().str.strip()
# City-wise GRN Amount total
city_wise_grn = df.groupby('Line Item Location Name')['Item Total'].sum().reset_index()
# Brand Name-wise total (excluding nulls)

# Display the results
print("Date-wise GRN Amount Total:\n", date_wise_grn)
print("\nCity-wise GRN Amount Total:\n", city_wise_grn)

Date-wise GRN Amount Total:
            Invoice Date  Item Total
0   2025-05-01 00:00:00   200127.50
1   2025-05-02 00:00:00   312757.50
2   2025-05-03 00:00:00   234698.00
3   2025-05-04 00:00:00   392388.00
4   2025-05-05 00:00:00   314174.00
5   2025-05-06 00:00:00   182329.00
6   2025-05-07 00:00:00   212140.00
7   2025-05-08 00:00:00   587921.00
8   2025-05-09 00:00:00   470963.00
9   2025-05-10 00:00:00   464548.00
10  2025-05-11 00:00:00   219115.20
11  2025-05-12 00:00:00   229939.40
12  2025-05-13 00:00:00  1194719.00
13  2025-05-14 00:00:00   227516.30
14  2025-05-15 00:00:00  3385439.60
15  2025-05-16 00:00:00  1095972.00
16  2025-05-17 00:00:00   547291.00
17  2025-05-18 00:00:00   305714.00
18  2025-05-19 00:00:00   307230.00
19  2025-05-20 00:00:00   163742.00
20  2025-05-21 00:00:00   231794.00
21  2025-05-22 00:00:00   595333.00
22  2025-05-23 00:00:00   474302.00
23  2025-05-24 00:00:00   428160.00
24  2025-05-25 00:00:00   111456.00
25  2025-05-26 00:00:00   388998.00
26  2025-05-27 00:00:00   499816.00
27  2025-05-28 00:00:00   539691.00
28  2025-05-29 00:00:00   196996.00
29  2025-05-30 00:00:00  3840417.00
30  2025-05-31 00:00:00   936007.00
31  2025-09-05 00:00:00     2100.00
32  2025-10-05 00:00:00      200.00
33  2025-12-05 00:00:00     1800.12
34            5/13/2025      500.00
35            5/14/2025     2400.00
36            5/15/2025      200.00
37            5/21/2025     1800.00
38            5/22/2025      850.00
39            5/23/2025      600.00
40            5/25/2025     9990.00
41            5/26/2025    41400.00
42            5/29/2025    16920.00
43            5/30/2025     9130.00

City-wise GRN Amount Total:
        Line Item Location Name   Item Total
0         delhi dc (warehouse)    476270.00
1     hyderabad dc (warehouse)   6546179.12
2  mumbai vashi dc (warehouse)  12357135.50

In [81]:
# Pivot the data to create the desired format
pivoted_df = df.pivot_table(
    index='Invoice Date',  # Use Invoice Date as the index
    columns='Project ',   # Use unique Item Name as the columns
    values='Item Total',   # Fill the cells with the Item Total values
    aggfunc='sum',         # Aggregate Item Total values by summing them (if there are duplicates)
    fill_value=0           # Replace NaN with 0 for missing values
).reset_index()



# Display the transformed DataFrame
print(pivoted_df)

# Output the file path

Project          Invoice Date  Avocado  Blueberry  Blueberry   Chile Gala  \
0         2025-05-01 00:00:00   9000.0        0.0     24400.0         0.0
1         2025-05-02 00:00:00   7500.0        0.0         0.0         0.0
2         2025-05-03 00:00:00  15700.0        0.0      4200.0         0.0
3         2025-05-04 00:00:00      0.0        0.0    142000.0         0.0
4         2025-05-05 00:00:00   9200.0        0.0     44100.0         0.0
5         2025-05-06 00:00:00      0.0        0.0         0.0         0.0
6         2025-05-07 00:00:00  22050.0        0.0     21000.0         0.0
7         2025-05-08 00:00:00  29200.0        0.0     30660.0         0.0
8         2025-05-09 00:00:00  31200.0        0.0     37678.0         0.0
9         2025-05-10 00:00:00  14000.0        0.0     48656.0         0.0
10        2025-05-11 00:00:00      0.0        0.0         0.0         0.0
11        2025-05-12 00:00:00      0.0        0.0         0.0         0.0
12        2025-05-13 00:00:00  40750.0        0.0    854400.0         0.0
13        2025-05-14 00:00:00      0.0        0.0     28160.0         0.0
14        2025-05-15 00:00:00  59500.0        0.0     79560.0   2873400.0
15        2025-05-16 00:00:00      0.0        0.0    622325.0    178850.0
16        2025-05-17 00:00:00      0.0        0.0    207460.0         0.0
17        2025-05-18 00:00:00      0.0        0.0     48350.0         0.0
18        2025-05-19 00:00:00      0.0    10500.0     49200.0         0.0
19        2025-05-20 00:00:00  34000.0     6300.0         0.0         0.0
20        2025-05-21 00:00:00      0.0    16320.0     53300.0         0.0
21        2025-05-22 00:00:00  39000.0     6120.0     22000.0    313200.0
22        2025-05-23 00:00:00  75000.0    14280.0    132950.0         0.0
23        2025-05-24 00:00:00  37500.0    18360.0     84500.0         0.0
24        2025-05-25 00:00:00      0.0    10030.0         0.0         0.0
25        2025-05-26 00:00:00  50000.0    13350.0     70000.0         0.0
26        2025-05-27 00:00:00   5700.0     7200.0    207744.0         0.0
27        2025-05-28 00:00:00      0.0    10800.0    252000.0         0.0
28        2025-05-29 00:00:00  25000.0    12600.0     52900.0         0.0
29        2025-05-30 00:00:00      0.0     8400.0         0.0   3556880.0
30        2025-05-31 00:00:00      0.0        0.0    709500.0     31500.0
31        2025-09-05 00:00:00      0.0        0.0         0.0         0.0
32        2025-10-05 00:00:00      0.0        0.0         0.0         0.0
33        2025-12-05 00:00:00      0.0        0.0         0.0         0.0
34                  5/13/2025      0.0        0.0         0.0         0.0
35                  5/14/2025      0.0        0.0         0.0         0.0
36                  5/15/2025      0.0        0.0         0.0         0.0
37                  5/21/2025      0.0        0.0         0.0         0.0
38                  5/22/2025      0.0        0.0         0.0         0.0
39                  5/23/2025      0.0        0.0         0.0         0.0
40                  5/25/2025      0.0        0.0         0.0         0.0
41                  5/26/2025      0.0        0.0         0.0         0.0
42                  5/29/2025      0.0        0.0         0.0         0.0
43                  5/30/2025      0.0        0.0         0.0         0.0

Project   China Mandarin  Dragon Fruit  Dragon Fruit   Iran Kiwi  \
0                    0.0           0.0      148250.00        0.0
1                 7200.0           0.0      262820.00        0.0
2                    0.0           0.0      192290.00        0.0
3                    0.0       14000.0      219384.00        0.0
4                 7200.0           0.0      232980.00        0.0
5                    0.0           0.0      157665.00        0.0
6                    0.0           0.0      138547.00        0.0
7                    0.0           0.0      505779.00        0.0
8                 7200.0           0.0      382855.00        0.0
9                    0.0           0.0      366421.00        0.0
10                   0.0           0.0      198408.00        0.0
11                   0.0           0.0      204815.00        0.0
12                6750.0           0.0      267203.00        0.0
13                   0.0           0.0      185968.00        0.0
14                7250.0           0.0      305040.00     7000.0
15                   0.0           0.0      270814.00        0.0
16                7000.0           0.0      296682.00        0.0
17                   0.0           0.0      227432.00        0.0
18                   0.0      198203.0       14805.00        0.0
19                5800.0       53430.0        6345.00        0.0
20                   0.0      123747.0       12925.00        0.0
21                   0.0      146616.0       46199.00        0.0
22                   0.0      226260.0         940.00        0.0
23                7000.0      156401.0       46295.00        0.0
24                   0.0       78562.0           0.00        0.0
25                   0.0      150750.0       39950.00        0.0
26                   0.0      243328.0         705.00        0.0
27                   0.0      166837.0       43240.00        0.0
28                7500.0       32500.0           0.00        0.0
29                   0.0      208117.0        1645.00        0.0
30                   0.0      121321.0       23772.00        0.0
31                   0.0           0.0        2100.00        0.0
32                   0.0           0.0         200.00        0.0
33                   0.0           0.0        1800.12        0.0
34                   0.0           0.0         500.00        0.0
35                   0.0           0.0        2400.00        0.0
36                   0.0           0.0         200.00        0.0
37                   0.0           0.0        1800.00        0.0
38                   0.0           0.0         850.00        0.0
39                   0.0           0.0         600.00        0.0
40                   0.0           0.0        9990.00        0.0
41                   0.0           0.0       41400.00        0.0
42                   0.0           0.0       16920.00        0.0
43                   0.0           0.0        9130.00        0.0

Project   Orange Valencia(Malta)  Pear Beauty  Pear Pachkam  Raspberry   \
0                            0.0          0.0           0.0         0.0
1                            0.0      10300.0        9300.0         0.0
2                            0.0          0.0           0.0         0.0
3                            0.0          0.0           0.0         0.0
4                            0.0       2575.0           0.0         0.0
5                            0.0          0.0           0.0         0.0
6                         9000.0       5150.0           0.0         0.0
7                            0.0          0.0           0.0         0.0
8                            0.0          0.0           0.0         0.0
9                            0.0       5300.0        7000.0         0.0
10                           0.0          0.0           0.0         0.0
11                           0.0          0.0           0.0         0.0
12                        4800.0       2500.0        2900.0         0.0
13                           0.0          0.0           0.0         0.0
14                        3100.0       5100.0        7500.0     21855.0
15                           0.0          0.0           0.0     12220.0
16                        6000.0       4800.0        3000.0     11750.0
17                           0.0          0.0           0.0     14335.0
18                           0.0          0.0           0.0     16685.0
19                        6000.0       4900.0        6000.0     21855.0
20                           0.0          0.0           0.0     14100.0
21                           0.0          0.0           0.0      9165.0
22                           0.0          0.0           0.0     10340.0
23                        6000.0       4800.0        6000.0     52405.0
24                           0.0          0.0           0.0     10575.0
25                           0.0          0.0           0.0     47940.0
26                           0.0          0.0           0.0     14570.0
27                           0.0          0.0           0.0     47000.0
28                           0.0       4600.0           0.0     47000.0
29                           0.0          0.0           0.0     44180.0
30                           0.0          0.0           0.0     34545.0
31                           0.0          0.0           0.0         0.0
32                           0.0          0.0           0.0         0.0
33                           0.0          0.0           0.0         0.0
34                           0.0          0.0           0.0         0.0
35                           0.0          0.0           0.0         0.0
36                           0.0          0.0           0.0         0.0
37                           0.0          0.0           0.0         0.0
38                           0.0          0.0           0.0         0.0
39                           0.0          0.0           0.0         0.0
40                           0.0          0.0           0.0         0.0
41                           0.0          0.0           0.0         0.0
42                           0.0          0.0           0.0         0.0
43                           0.0          0.0           0.0         0.0

Project   Red Globe  Suzette
0               0.0   18477.5
1               0.0   15637.5
2               0.0   22508.0
3               0.0   17004.0
4               0.0   18119.0
5               0.0   24664.0
6               0.0   16393.0
7               0.0   22282.0
8               0.0   12030.0
9               0.0   23171.0
10              0.0   20707.2
11              0.0   25124.4
12              0.0   15416.0
13              0.0   13388.3
14           4600.0   11534.6
15              0.0   11763.0
16              0.0   10599.0
17              0.0   15597.0
18              0.0   17837.0
19              0.0   19112.0
20              0.0   11402.0
21              0.0   13033.0
22              0.0   14532.0
23              0.0    8899.0
24              0.0   12289.0
25              0.0   17008.0
26              0.0   20569.0
27              0.0   19814.0
28              0.0   14896.0
29              0.0   21195.0
30              0.0   15369.0
31              0.0       0.0
32              0.0       0.0
33              0.0       0.0
34              0.0       0.0
35              0.0       0.0
36              0.0       0.0
37              0.0       0.0
38              0.0       0.0
39              0.0       0.0
40              0.0       0.0
41              0.0       0.0
42              0.0       0.0
43              0.0       0.0

In [82]:
# Date-wise GRN Amount total
project_wise = df.groupby('Item Name')['Item Total'].sum().sort_values(ascending=False)



# Display the results
print("Date-wise GRN Amount Total:\n", project_wise)

Date-wise GRN Amount Total:
 Item Name
Dragon Fruit                    4836575.00
Blueberry Tray                  3563560.00
150PB Chile Gala Extra Fancy    1803200.00
125PB Chile Gala Extra Fancy    1626620.00
Dragon Fruit 20 Pcs Box         1065065.00
125PB Chile Gala Premium        1048410.00
163PB Chile Gala Extra Fancy     827120.00
Dragon Fruit                     729711.12
Suzette                          520370.50
175PB Chile Gala Extra Fancy     488040.00
Raspberry                        430520.00
20PB Avocado                     339150.00
175PB Chile Gala Premium         339080.00
150PB Chile Gala Premium         326490.00
198PB Chile Gala Extra Fancy     325330.00
Blueberry                        287009.00
163PB Chile Gala Premium         169540.00
Dragon Fruit 22 Pc Box           126600.00
14PB Avocado                      96350.00
Indian Blueberry Tray             61750.00
80PB Pear Beauty                  50025.00
Indian Blueberry                  48984.00
80PB Pear Pachkam                 41700.00
60MM China Mandarin               41650.00
22PB Avocado                      35660.00
19PB Dragon Fruit                 23560.00
80PB Orange Valencia(Malta)       22900.00
65MM China Mandarin               21250.00
18PB Avocado                      14840.00
Sprouted Cococut                  14000.00
19PB Dragon Fruit                 12625.00
16PB Avocado                      12600.00
88PB Orange Valencia(Malta)       12000.00
36PB Iran Kiwi                     7000.00
Avocado                            5700.00
9Kg Red Globe                      4600.00
Name: Item Total, dtype: float64

In [83]:
# Filter the DataFrame for rows where 'GT/MT' column has the value 'MT'
filtered_df = df[df['Trade Type'] == 'gt']

# Group by 'Customer Name' and sum the 'Item Total', then sort in descending order
customer_totals_GT = (
    filtered_df.groupby('Customer Name')['Item Total']
    .sum()
    .sort_values(ascending=False)
)

# Display the result
print("Customer Name GT wise Item Total (descending order):")
print(customer_totals_GT)

# Save to a CSV file if needed


filtered_df1 = df[df['Trade Type'] == 'mt']

# Group by 'Customer Name' and sum the 'Item Total', then sort in descending order
customer_totals_MT = (
    filtered_df1.groupby('Customer Name')['Item Total']
    .sum()
    .sort_values(ascending=False)
)

# Display the result
print("Customer Name MT wise Item Total (descending order):")
print(customer_totals_MT)

# Date-wise GRN Amount total
date_wise_grn = df.groupby('Invoice Date')['Item Total'].sum().reset_index()

# City-wise GRN Amount total
city_wise_grn = df.groupby('Line Item Location Name')['Item Total'].sum().reset_index()
# Brand Name-wise total (excluding nulls)

# Display the results
print("Date-wise GRN Amount Total:\n", date_wise_grn)
print("\nCity-wise GRN Amount Total:\n", city_wise_grn)


# Pivot the data to create the desired format
pivoted_df = df.pivot_table(
    index='Invoice Date',  # Use Invoice Date as the index
    columns='Project ',   # Use unique Item Name as the columns
    values='Item Total',   # Fill the cells with the Item Total values
    aggfunc='sum',         # Aggregate Item Total values by summing them (if there are duplicates)
    fill_value=0           # Replace NaN with 0 for missing values
).reset_index()



# Display the transformed DataFrame
print(pivoted_df)

# Date-wise GRN Amount total
project_wise = df.groupby('Item Name')['Item Total'].sum().sort_values(ascending=False)



# Display the results
print("Date-wise GRN Amount Total:\n", project_wise)

import pandas as pd

# Define the file path
file_path = "/Users/devnikhil/Downloads/fullmay.xlsx"

# Create an Excel writer object
with pd.ExcelWriter(file_path, engine="xlsxwriter") as writer:
    # Save Customer Name GT wise Item Total
    customer_totals_GT.to_frame().to_excel(writer, sheet_name="Customer_GT")

    # Save Customer Name MT wise Item Total
    customer_totals_MT.to_frame().to_excel(writer, sheet_name="Customer_MT")

    # Save Date-wise GRN Amount Total
    date_wise_grn.to_excel(writer, sheet_name="Datewise_GRN", index=False)

    # Save City-wise GRN Amount Total
    city_wise_grn.to_excel(writer, sheet_name="Citywise_GRN", index=False)

    # Save Pivoted DataFrame
    pivoted_df.to_excel(writer, sheet_name="Itemwise_Pivot", index=False)

    # Save Project-wise GRN Amount Total
    project_wise.to_frame().to_excel(writer, sheet_name="Projectwise_GRN")

print(f"File saved successfully: {file_path}")

Customer Name GT wise Item Total (descending order):
Customer Name
VASMI FARM FRESH PRIVATE LIMITED    3556880.00
Mr. Sadanand Nikam                  2866500.00
Farm Root Agro                      2040994.00
NUTTRIVILA F&V PRIVATE LIMITED       813975.00
Agro Empire                          615250.00
Ogistics Exports                     363700.00
ARB ENTERPRISES                      335550.00
LOCAL BUYER                          301950.12
Chandu Fruit                         299600.00
Radhey Fresh                         206500.00
G.H. Fruits                          178850.00
SK Fruit SRM                         176000.00
ELITE Supply Chain                   121700.00
RR Fruits                            112000.00
Vikas Gupta                          107500.00
GREAT GROCERS                         89300.00
VORTEX SPECIALITY FOODS LLP           75000.00
DSK NATURAL FRUIT                     64750.00
Mr. Vikas Gupta                       63000.00
Minnath Parkhe                        52500.00
Ashok Fruit HYD                       43000.00
Nilesh                                42000.00
SN Fruit Company                      24000.00
Praful                                21200.00
Sohail                                20950.00
Laxman Fruit supplier                 16600.00
Kartik  Gopalakrishnan                14460.00
Prabhu Hira                            2200.00
Vaseem                                 2200.00
AMOL                                   1000.00
Amol                                    700.00
Name: Item Total, dtype: float64
Customer Name MT wise Item Total (descending order):
Customer Name
Kiranakart Wholesale  Pvt Ltd_HYD-Fresh     3520795.0
TRENT HYPERMARKET PVT LTD                   1312222.0
CLOUDKART VENTURES PRIVATE LIMITED           511536.0
PJTJ TECHNOLOGIES PRIVATE LIMITED            430520.0
KPN FARM FRESH PRIVATE LIMITED               256047.0
CLOUDSTORE RETAIL PRIVATE LIMITED            130285.0
METRO CASH & CARRY INDIA PRIVATE LIMITED      54000.0
Moksh Enterprises Private Limited             14000.0
Name: Item Total, dtype: float64
Date-wise GRN Amount Total:
            Invoice Date  Item Total
0   2025-05-01 00:00:00   200127.50
1   2025-05-02 00:00:00   312757.50
2   2025-05-03 00:00:00   234698.00
3   2025-05-04 00:00:00   392388.00
4   2025-05-05 00:00:00   314174.00
5   2025-05-06 00:00:00   182329.00
6   2025-05-07 00:00:00   212140.00
7   2025-05-08 00:00:00   587921.00
8   2025-05-09 00:00:00   470963.00
9   2025-05-10 00:00:00   464548.00
10  2025-05-11 00:00:00   219115.20
11  2025-05-12 00:00:00   229939.40
12  2025-05-13 00:00:00  1194719.00
13  2025-05-14 00:00:00   227516.30
14  2025-05-15 00:00:00  3385439.60
15  2025-05-16 00:00:00  1095972.00
16  2025-05-17 00:00:00   547291.00
17  2025-05-18 00:00:00   305714.00
18  2025-05-19 00:00:00   307230.00
19  2025-05-20 00:00:00   163742.00
20  2025-05-21 00:00:00   231794.00
21  2025-05-22 00:00:00   595333.00
22  2025-05-23 00:00:00   474302.00
23  2025-05-24 00:00:00   428160.00
24  2025-05-25 00:00:00   111456.00
25  2025-05-26 00:00:00   388998.00
26  2025-05-27 00:00:00   499816.00
27  2025-05-28 00:00:00   539691.00
28  2025-05-29 00:00:00   196996.00
29  2025-05-30 00:00:00  3840417.00
30  2025-05-31 00:00:00   936007.00
31  2025-09-05 00:00:00     2100.00
32  2025-10-05 00:00:00      200.00
33  2025-12-05 00:00:00     1800.12
34            5/13/2025      500.00
35            5/14/2025     2400.00
36            5/15/2025      200.00
37            5/21/2025     1800.00
38            5/22/2025      850.00
39            5/23/2025      600.00
40            5/25/2025     9990.00
41            5/26/2025    41400.00
42            5/29/2025    16920.00
43            5/30/2025     9130.00

City-wise GRN Amount Total:
        Line Item Location Name   Item Total
0         delhi dc (warehouse)    476270.00
1     hyderabad dc (warehouse)   6546179.12
2  mumbai vashi dc (warehouse)  12357135.50
Project          Invoice Date  Avocado  Blueberry  Blueberry   Chile Gala  \
0         2025-05-01 00:00:00   9000.0        0.0     24400.0         0.0
1         2025-05-02 00:00:00   7500.0        0.0         0.0         0.0
2         2025-05-03 00:00:00  15700.0        0.0      4200.0         0.0
3         2025-05-04 00:00:00      0.0        0.0    142000.0         0.0
4         2025-05-05 00:00:00   9200.0        0.0     44100.0         0.0
5         2025-05-06 00:00:00      0.0        0.0         0.0         0.0
6         2025-05-07 00:00:00  22050.0        0.0     21000.0         0.0
7         2025-05-08 00:00:00  29200.0        0.0     30660.0         0.0
8         2025-05-09 00:00:00  31200.0        0.0     37678.0         0.0
9         2025-05-10 00:00:00  14000.0        0.0     48656.0         0.0
10        2025-05-11 00:00:00      0.0        0.0         0.0         0.0
11        2025-05-12 00:00:00      0.0        0.0         0.0         0.0
12        2025-05-13 00:00:00  40750.0        0.0    854400.0         0.0
13        2025-05-14 00:00:00      0.0        0.0     28160.0         0.0
14        2025-05-15 00:00:00  59500.0        0.0     79560.0   2873400.0
15        2025-05-16 00:00:00      0.0        0.0    622325.0    178850.0
16        2025-05-17 00:00:00      0.0        0.0    207460.0         0.0
17        2025-05-18 00:00:00      0.0        0.0     48350.0         0.0
18        2025-05-19 00:00:00      0.0    10500.0     49200.0         0.0
19        2025-05-20 00:00:00  34000.0     6300.0         0.0         0.0
20        2025-05-21 00:00:00      0.0    16320.0     53300.0         0.0
21        2025-05-22 00:00:00  39000.0     6120.0     22000.0    313200.0
22        2025-05-23 00:00:00  75000.0    14280.0    132950.0         0.0
23        2025-05-24 00:00:00  37500.0    18360.0     84500.0         0.0
24        2025-05-25 00:00:00      0.0    10030.0         0.0         0.0
25        2025-05-26 00:00:00  50000.0    13350.0     70000.0         0.0
26        2025-05-27 00:00:00   5700.0     7200.0    207744.0         0.0
27        2025-05-28 00:00:00      0.0    10800.0    252000.0         0.0
28        2025-05-29 00:00:00  25000.0    12600.0     52900.0         0.0
29        2025-05-30 00:00:00      0.0     8400.0         0.0   3556880.0
30        2025-05-31 00:00:00      0.0        0.0    709500.0     31500.0
31        2025-09-05 00:00:00      0.0        0.0         0.0         0.0
32        2025-10-05 00:00:00      0.0        0.0         0.0         0.0
33        2025-12-05 00:00:00      0.0        0.0         0.0         0.0
34                  5/13/2025      0.0        0.0         0.0         0.0
35                  5/14/2025      0.0        0.0         0.0         0.0
36                  5/15/2025      0.0        0.0         0.0         0.0
37                  5/21/2025      0.0        0.0         0.0         0.0
38                  5/22/2025      0.0        0.0         0.0         0.0
39                  5/23/2025      0.0        0.0         0.0         0.0
40                  5/25/2025      0.0        0.0         0.0         0.0
41                  5/26/2025      0.0        0.0         0.0         0.0
42                  5/29/2025      0.0        0.0         0.0         0.0
43                  5/30/2025      0.0        0.0         0.0         0.0

Project   China Mandarin  Dragon Fruit  Dragon Fruit   Iran Kiwi  \
0                    0.0           0.0      148250.00        0.0
1                 7200.0           0.0      262820.00        0.0
2                    0.0           0.0      192290.00        0.0
3                    0.0       14000.0      219384.00        0.0
4                 7200.0           0.0      232980.00        0.0
5                    0.0           0.0      157665.00        0.0
6                    0.0           0.0      138547.00        0.0
7                    0.0           0.0      505779.00        0.0
8                 7200.0           0.0      382855.00        0.0
9                    0.0           0.0      366421.00        0.0
10                   0.0           0.0      198408.00        0.0
11                   0.0           0.0      204815.00        0.0
12                6750.0           0.0      267203.00        0.0
13                   0.0           0.0      185968.00        0.0
14                7250.0           0.0      305040.00     7000.0
15                   0.0           0.0      270814.00        0.0
16                7000.0           0.0      296682.00        0.0
17                   0.0           0.0      227432.00        0.0
18                   0.0      198203.0       14805.00        0.0
19                5800.0       53430.0        6345.00        0.0
20                   0.0      123747.0       12925.00        0.0
21                   0.0      146616.0       46199.00        0.0
22                   0.0      226260.0         940.00        0.0
23                7000.0      156401.0       46295.00        0.0
24                   0.0       78562.0           0.00        0.0
25                   0.0      150750.0       39950.00        0.0
26                   0.0      243328.0         705.00        0.0
27                   0.0      166837.0       43240.00        0.0
28                7500.0       32500.0           0.00        0.0
29                   0.0      208117.0        1645.00        0.0
30                   0.0      121321.0       23772.00        0.0
31                   0.0           0.0        2100.00        0.0
32                   0.0           0.0         200.00        0.0
33                   0.0           0.0        1800.12        0.0
34                   0.0           0.0         500.00        0.0
35                   0.0           0.0        2400.00        0.0
36                   0.0           0.0         200.00        0.0
37                   0.0           0.0        1800.00        0.0
38                   0.0           0.0         850.00        0.0
39                   0.0           0.0         600.00        0.0
40                   0.0           0.0        9990.00        0.0
41                   0.0           0.0       41400.00        0.0
42                   0.0           0.0       16920.00        0.0
43                   0.0           0.0        9130.00        0.0

Project   Orange Valencia(Malta)  Pear Beauty  Pear Pachkam  Raspberry   \
0                            0.0          0.0           0.0         0.0
1                            0.0      10300.0        9300.0         0.0
2                            0.0          0.0           0.0         0.0
3                            0.0          0.0           0.0         0.0
4                            0.0       2575.0           0.0         0.0
5                            0.0          0.0           0.0         0.0
6                         9000.0       5150.0           0.0         0.0
7                            0.0          0.0           0.0         0.0
8                            0.0          0.0           0.0         0.0
9                            0.0       5300.0        7000.0         0.0
10                           0.0          0.0           0.0         0.0
11                           0.0          0.0           0.0         0.0
12                        4800.0       2500.0        2900.0         0.0
13                           0.0          0.0           0.0         0.0
14                        3100.0       5100.0        7500.0     21855.0
15                           0.0          0.0           0.0     12220.0
16                        6000.0       4800.0        3000.0     11750.0
17                           0.0          0.0           0.0     14335.0
18                           0.0          0.0           0.0     16685.0
19                        6000.0       4900.0        6000.0     21855.0
20                           0.0          0.0           0.0     14100.0
21                           0.0          0.0           0.0      9165.0
22                           0.0          0.0           0.0     10340.0
23                        6000.0       4800.0        6000.0     52405.0
24                           0.0          0.0           0.0     10575.0
25                           0.0          0.0           0.0     47940.0
26                           0.0          0.0           0.0     14570.0
27                           0.0          0.0           0.0     47000.0
28                           0.0       4600.0           0.0     47000.0
29                           0.0          0.0           0.0     44180.0
30                           0.0          0.0           0.0     34545.0
31                           0.0          0.0           0.0         0.0
32                           0.0          0.0           0.0         0.0
33                           0.0          0.0           0.0         0.0
34                           0.0          0.0           0.0         0.0
35                           0.0          0.0           0.0         0.0
36                           0.0          0.0           0.0         0.0
37                           0.0          0.0           0.0         0.0
38                           0.0          0.0           0.0         0.0
39                           0.0          0.0           0.0         0.0
40                           0.0          0.0           0.0         0.0
41                           0.0          0.0           0.0         0.0
42                           0.0          0.0           0.0         0.0
43                           0.0          0.0           0.0         0.0

Project   Red Globe  Suzette
0               0.0   18477.5
1               0.0   15637.5
2               0.0   22508.0
3               0.0   17004.0
4               0.0   18119.0
5               0.0   24664.0
6               0.0   16393.0
7               0.0   22282.0
8               0.0   12030.0
9               0.0   23171.0
10              0.0   20707.2
11              0.0   25124.4
12              0.0   15416.0
13              0.0   13388.3
14           4600.0   11534.6
15              0.0   11763.0
16              0.0   10599.0
17              0.0   15597.0
18              0.0   17837.0
19              0.0   19112.0
20              0.0   11402.0
21              0.0   13033.0
22              0.0   14532.0
23              0.0    8899.0
24              0.0   12289.0
25              0.0   17008.0
26              0.0   20569.0
27              0.0   19814.0
28              0.0   14896.0
29              0.0   21195.0
30              0.0   15369.0
31              0.0       0.0
32              0.0       0.0
33              0.0       0.0
34              0.0       0.0
35              0.0       0.0
36              0.0       0.0
37              0.0       0.0
38              0.0       0.0
39              0.0       0.0
40              0.0       0.0
41              0.0       0.0
42              0.0       0.0
43              0.0       0.0
Date-wise GRN Amount Total:
 Item Name
Dragon Fruit                    4836575.00
Blueberry Tray                  3563560.00
150PB Chile Gala Extra Fancy    1803200.00
125PB Chile Gala Extra Fancy    1626620.00
Dragon Fruit 20 Pcs Box         1065065.00
125PB Chile Gala Premium        1048410.00
163PB Chile Gala Extra Fancy     827120.00
Dragon Fruit                     729711.12
Suzette                          520370.50
175PB Chile Gala Extra Fancy     488040.00
Raspberry                        430520.00
20PB Avocado                     339150.00
175PB Chile Gala Premium         339080.00
150PB Chile Gala Premium         326490.00
198PB Chile Gala Extra Fancy     325330.00
Blueberry                        287009.00
163PB Chile Gala Premium         169540.00
Dragon Fruit 22 Pc Box           126600.00
14PB Avocado                      96350.00
Indian Blueberry Tray             61750.00
80PB Pear Beauty                  50025.00
Indian Blueberry                  48984.00
80PB Pear Pachkam                 41700.00
60MM China Mandarin               41650.00
22PB Avocado                      35660.00
19PB Dragon Fruit                 23560.00
80PB Orange Valencia(Malta)       22900.00
65MM China Mandarin               21250.00
18PB Avocado                      14840.00
Sprouted Cococut                  14000.00
19PB Dragon Fruit                 12625.00
16PB Avocado                      12600.00
88PB Orange Valencia(Malta)       12000.00
36PB Iran Kiwi                     7000.00
Avocado                            5700.00
9Kg Red Globe                      4600.00
Name: Item Total, dtype: float64
File saved successfully: /Users/devnikhil/Downloads/fullmay.xlsx