In [28]:
import pandas as pd

# Path to the Excel file
file_path = "/Users/devnikhil/Downloads/Bill (17).xlsx"

# Load the Excel file into a DataFrame
df = pd.read_excel(file_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Bill Date                569 non-null    datetime64[ns]
 1   Vendor Name              569 non-null    object
 2   Item Name                569 non-null    object
 3   Quantity                 569 non-null    float64
 4   Item Total               569 non-null    float64
 5   Line Item Location Name  569 non-null    object
 6   Rate                     569 non-null    float64
 7   Project Name             569 non-null    object
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 35.7+ KB

In [29]:
df.head()

,Bill Date,Vendor Name,Item Name,Quantity,Item Total,Line Item Location Name,Rate,Project Name
0,2025-05-01,Lalbabu Hiralal And Sons,Suzette,2.00,1300.0,Mumbai Vashi DC (Warehouse),650.0,Suzette
1,2025-05-01,Suzette (Local Purchase),Suzette,70.00,1820.0,Mumbai Vashi DC (Warehouse),26.0,Suzette
2,2025-05-01,Suzette (Local Purchase),Suzette,15.00,1650.0,Mumbai Vashi DC (Warehouse),110.0,Suzette
3,2025-05-01,Suzette (Local Purchase),Suzette,10.00,1400.0,Mumbai Vashi DC (Warehouse),140.0,Suzette
4,2025-05-01,Suzette (Local Purchase),Suzette,1.75,245.0,Mumbai Vashi DC (Warehouse),140.0,Suzette

In [30]:
print(df['Bill Date'].sort_values().unique())

<DatetimeArray>
['2025-05-01 00:00:00', '2025-05-02 00:00:00', '2025-05-03 00:00:00',
 '2025-05-04 00:00:00', '2025-05-05 00:00:00', '2025-05-06 00:00:00',
 '2025-05-07 00:00:00', '2025-05-08 00:00:00', '2025-05-09 00:00:00',
 '2025-05-10 00:00:00', '2025-05-11 00:00:00', '2025-05-12 00:00:00',
 '2025-05-13 00:00:00', '2025-05-14 00:00:00', '2025-05-15 00:00:00',
 '2025-05-16 00:00:00', '2025-05-17 00:00:00', '2025-05-18 00:00:00',
 '2025-05-19 00:00:00', '2025-05-20 00:00:00', '2025-05-21 00:00:00',
 '2025-05-22 00:00:00', '2025-05-23 00:00:00', '2025-05-24 00:00:00',
 '2025-05-25 00:00:00', '2025-05-26 00:00:00', '2025-05-27 00:00:00',
 '2025-05-28 00:00:00', '2025-05-29 00:00:00', '2025-05-30 00:00:00',
 '2025-05-31 00:00:00']
Length: 31, dtype: datetime64[ns]

In [31]:
df['Item Name'] = df['Item Name'].str.strip().str.lower()
df['Line Item Location Name'] = df['Line Item Location Name'].str.strip().str.lower()
df_grouped = df.groupby('Item Name')['Item Total'].sum().sort_values(ascending=False)
print(df_grouped)

df_ware = df.groupby('Line Item Location Name')['Item Total'].sum().sort_values(ascending=False)
print(df_ware)

Item Name
blueberry tray                  6075006.00
dragon fruit 20 pcs box         3212774.00
150pb chile gala extra fancy    1727250.00
125pb chile gala extra fancy    1581050.00
dragon fruit 22 pc box          1320201.00
90pb royal gala                 1313200.00
125pb chile gala premium         988550.00
110pb royal gala                 938000.00
163pb chile gala extra fancy     781550.00
150pb royal gala                 750400.00
100pb royal gala                 562800.00
suzette                          488735.12
175pb chile gala extra fancy     472850.00
raspberry                        382855.00
198pb chile gala extra fancy     313600.00
150pb chile gala premium         311300.00
175pb chile gala premium         308700.00
20pb avocado                     212900.00
135pb royal gala                 187600.00
120pb royal gala                 187600.00
163pb chile gala premium         154350.00
14pb avocado                      71500.00
indian blueberry tray             60000.00
80pb pear beauty                  46550.00
80pb pear pachkam                 38400.00
60mm china mandarin               38100.00
80pb orange valencia(malta)       20150.00
65mm china mandarin               19750.00
88pb orange valencia(malta)       11200.00
36pb iran kiwi                     6800.00
9kg red globe                      4200.00
Name: Item Total, dtype: float64
Line Item Location Name
mumbai vashi dc (warehouse)    22036091.12
delhi dc (warehouse)             427855.00
hyderabad dc (warehouse)         119775.00
head office                        4200.00
Name: Item Total, dtype: float64

In [32]:
import pandas as pd

# Define file path
file_path = "/Users/devnikhil/Downloads/may_full_pur.xlsx"

# Save both dataframes in different sheets of the same file
with pd.ExcelWriter(file_path, engine="xlsxwriter") as writer:
    df_grouped.to_frame().to_excel(writer, sheet_name="Itemwise_Total")
    df_ware.to_frame().to_excel(writer, sheet_name="Warehousewise_Total")

print(f"File saved successfully: {file_path}")

File saved successfully: /Users/devnikhil/Downloads/may_full_pur.xlsx