In [25]:
import pandas as pd

# Path to the Excel file
file_path = "/Users/devnikhil/Downloads/Feb _ March _ April _  Operation Master Sheet(Expenses )-2.xlsx"

# Load the Excel file into a DataFrame
df = pd.read_excel(file_path)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 734 entries, 0 to 733
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          734 non-null    datetime64[ns]
 1   City Name     734 non-null    object
 2   AF Ops Name   734 non-null    object
 3   Department    734 non-null    object
 4   Category      734 non-null    object
 5   Amount        734 non-null    object
 6   Project       733 non-null    object
 7   Document No.  720 non-null    object
 8   Payee Name    708 non-null    object
 9   Narration     701 non-null    object
dtypes: datetime64[ns](1), object(9)
memory usage: 57.5+ KB

In [27]:
# Print all column names to check for discrepancies
print("Column Names in DataFrame:")
print(df.columns)

Column Names in DataFrame:
Index(['Date', 'City Name', 'AF Ops Name', 'Department', 'Category', 'Amount',
       'Project', 'Document No.', 'Payee Name', 'Narration'],
      dtype='object')

In [28]:
# Strip whitespace from all column names
df.columns = df.columns.str.strip()

# Now, retrieve unique dates from the cleaned "Date" column
unique_dates = df['Date'].unique()

# Print unique dates
print("Unique Dates:")
print(unique_dates)

Unique Dates:
<DatetimeArray>
['2025-05-01 00:00:00', '2025-05-02 00:00:00', '2025-05-03 00:00:00',
 '2025-05-04 00:00:00', '2025-05-05 00:00:00', '2025-05-06 00:00:00',
 '2025-05-07 00:00:00', '2025-05-08 00:00:00', '2025-05-09 00:00:00',
 '2025-05-10 00:00:00', '2025-05-11 00:00:00', '2025-05-12 00:00:00',
 '2025-05-13 00:00:00', '2025-05-14 00:00:00', '2025-05-15 00:00:00',
 '2025-05-16 00:00:00', '2025-05-17 00:00:00', '2025-05-18 00:00:00',
 '2025-05-19 00:00:00', '2025-05-20 00:00:00', '2025-05-22 00:00:00',
 '2025-05-23 00:00:00', '2025-05-24 00:00:00', '2025-05-25 00:00:00',
 '2025-05-26 00:00:00', '2025-05-27 00:00:00', '2025-05-28 00:00:00',
 '2025-05-29 00:00:00', '2025-05-30 00:00:00']
Length: 29, dtype: datetime64[ns]

In [30]:
import pandas as pd

# Parse dates
df['Date'] = pd.to_datetime(df['Date'], format='%d.%m.%Y', errors='coerce')

# Clean the 'Amount' column
df['Amount'] = (
    df['Amount']
    .astype(str)
    .str.replace('â‚¹', '', regex=False)
    .str.replace('?', '', regex=False)
    .str.replace(',', '')
    .str.strip()
)

# Convert to numeric, forcing errors to NaN
df['Amount'] = pd.to_numeric(df['Amount'], errors='coerce')

# Drop rows where Amount is NaN (could also fill with 0 if needed)
df = df.dropna(subset=['Amount'])

# Group by date and sum
date_wise_expense = df.groupby('Date')['Amount'].sum().reset_index()

# Display results
print("Date-wise Expense:")
print(date_wise_expense)

Date-wise Expense:
         Date        Amount
0  2025-05-01  14193.260000
1  2025-05-02  13550.000000
2  2025-05-03   4455.180000
3  2025-05-04   8428.000000
4  2025-05-05  50893.000000
5  2025-05-06   6406.340000
6  2025-05-07  10793.090000
7  2025-05-08  12281.410000
8  2025-05-09  13894.420000
9  2025-05-10  28791.940000
10 2025-05-11  89037.010000
11 2025-05-12  17649.710000
12 2025-05-13  19508.320000
13 2025-05-14  19532.780000
14 2025-05-15  15787.680000
15 2025-05-16  14440.730000
16 2025-05-17  20253.000000
17 2025-05-18  26246.000000
18 2025-05-19  20694.040000
19 2025-05-20  22804.362298
20 2025-05-22  75153.830000
21 2025-05-23  25577.990000
22 2025-05-24  20614.425316
23 2025-05-25  16040.000000
24 2025-05-26  48719.460000
25 2025-05-27  15450.100000
26 2025-05-28  29472.100000
27 2025-05-29   6750.100000
28 2025-05-30  16581.643486

In [31]:
# Convert the 'Region' column to lowercase
df['City Name'] = df['City Name'].str.lower()

# Get unique regions after standardization
unique_regions_standardized = df['City Name'].unique()

# Convert to a list for easier reading
unique_regions_standardized_list = unique_regions_standardized.tolist()

# Print the standardized unique regions
print("Standardized Unique Regions:")
print(unique_regions_standardized_list)

Standardized Unique Regions:
['hyderabad', 'bombay', 'hyderabad dc', 'mumbai vashi dc', 'hyderabad dc (warehouse)', 'mumbai dc', 'mumabi dc', 'garbage clearence', 'manpower', 'delhi dc (warehouse)', 'mumbai', 'mumbai vashi dc (warehouse)']

In [32]:
# Total amount by Region
total_by_region = df.groupby('City Name')['Amount'].sum().reset_index()
print("Total Amount by Region:")
print(total_by_region)

Total Amount by Region:
                      City Name         Amount
0                        bombay    1500.000000
1          delhi dc (warehouse)   17826.837989
2             garbage clearence    3000.000000
3                     hyderabad   39126.440000
4                  hyderabad dc    2693.000000
5      hyderabad dc (warehouse)  445493.643111
6                      manpower    2800.000000
7                     mumabi dc    5970.000000
8                        mumbai   64840.000000
9                     mumbai dc   96800.000000
10              mumbai vashi dc    1500.000000
11  mumbai vashi dc (warehouse)    2450.000000

In [33]:
# Total amount by Purpose (Product)
df['Category'] = df['Category'].str.lower().str.strip()
total_by_purpose = df.groupby('Category')['Amount'].sum().reset_index()
print("\nTotal Amount by Purpose:")
print(total_by_purpose)

Total Amount by Purpose:
            Category         Amount
0              admin    2610.000000
1             lables   35014.168300
2           logistic   88804.800000
3          logistics  246645.783305
4           manpower  155781.626697
5            packing    5963.000000
6   packing material   80211.100000
7               rent   22934.189950
8           stickers    3996.080000
9            storage   23329.000000
10        supervisor   18710.172848

In [34]:
df['Department'] = df['Department'].str.lower().str.strip()
total_by_department = df.groupby('Department')['Amount'].sum().reset_index()
print("\nTotal Amount by Department:")
print(total_by_department)

Total Amount by Department:
    Department         Amount
0   opeartions  144870.067614
1   operations  465929.853486
2  procurement   73200.000000

In [35]:
df['Project'] = df['Project'].str.lower().str.strip()
total_by_purpose = df.groupby('Project')['Amount'].sum().reset_index()
print("\nTotal Amount by Purpose:")
print(total_by_purpose)

Total Amount by Purpose:
                   Project         Amount
0         avacado & dragon    4040.000000
1                  avacodo    1380.000000
2                blueberry    8351.892516
3             dragon fruit  650743.681125
4  dragon fruit 20 pcs box      32.309470
5   dragon fruit 22 pc box       0.000000
6       imported blueberry     223.200000
7         indian blueberry    1082.000000
8                raspberry   17826.837989

In [67]:
# Replace 'YourDataFrame' with the name of your DataFrame
strawberry_products = ['STARWBERRY PCK PC', 'Strawberry', 'Strawberry Punnet PKD PC']

# Filter and calculate day-wise totals for the specified products
day_wise_totals = df[df['Project'].isin(strawberry_products)].groupby('Date')['Amount'].sum()

# Display the result
print(day_wise_totals)

Series([], Name: Amount, dtype: float64)

In [36]:
import pandas as pd

# Calculate grouped summaries
total_by_region = df.groupby('City Name')['Amount'].sum().reset_index()
total_by_purpose_category = df.groupby('Category')['Amount'].sum().reset_index()
total_by_department = df.groupby('Department')['Amount'].sum().reset_index()
total_by_purpose_project = df.groupby('Project')['Amount'].sum().reset_index()

# Define the output file path
output_file = '/Users/devnikhil/Downloads/expenses_maymonth.xlsx'

# Save results to separate sheets in the same Excel file
with pd.ExcelWriter(output_file) as writer:
    total_by_region.to_excel(writer, sheet_name='Total by Region', index=False)
    total_by_purpose_category.to_excel(writer, sheet_name='Total by Category', index=False)
    total_by_department.to_excel(writer, sheet_name='Total by Department', index=False)
    total_by_purpose_project.to_excel(writer, sheet_name='Total by Project', index=False)

print(f"Results saved to {output_file}")

Results saved to /Users/devnikhil/Downloads/expenses_maymonth.xlsx